.filters{
  padding: 35px 70px 70px 70px;
  background: url("../../img/filter-background.jpg") no-repeat center 0;
  background-size: cover;
  color:#fff
}
.filters__title{
  font-size: 60px;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 8px;
}
.filters__breadcrumbs{
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.filters__item::after {
  content: "";
  display: inline-block;
  width: 8px;
  height: 11px;
  background-image: url("../../img/Vector.svg");
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 10px;
}
.filters__item:last-child::after {
  content: none;
}
.filters__wrap {
  margin-top: 40px ;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 70px;
}
.filters__group{
  padding: 0;
  margin: 0 ;
}
.filters__container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 50px;
}
@media (max-width: 1024px) {
  .filters__wrap {
    gap: 30px;
    flex-wrap: wrap;
  }
  .filters__title{
    font-size: 24px;
    line-height: 1.1;
  }
  .filters{
    padding: 22px 10px;
  }
  .filter__group{
    margin-right: 30px;
  }
  .filters__group:nth-child(2){
    margin-right: 30px;
  }
  .filters__container{
    gap: 30px;
  }
}
